
HW2/.ipynb_checkpoints/HW2-checkpoint.ipynb
HW1/.ipynb_checkpoints/HW1-checkpoint.ipynb
HW2/AlexNet.h5
HW1/HW1.ipynb
HW1/.ipynb_checkpoints/Untitled-checkpoint.ipynb
HW1/.ipynb_checkpoints/Untitled-checkpoint.ipynb
HW1/.ipynb_checkpoints/Untitled-checkpoint.ipynb
